<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Account.css" />
</head>
<body>
    <div class="login-header">
        <img class="login-image" src="~/Content/app-ic.jpg" />
        <p class="login-title">meetBook</p>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
